<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Passport Demo Restricted Page</title>
  </head>
  <body>
    <p>This page is restricted. You can't see it unless you're logged in.</p>
    <p>You have visited this page <%= pageCount %> times since login.</p>
    <a href="/">Return <em>Home</em></a>
  </body>
</html>
